<% provide(:title, "About") %>

<div class="mainCont">

<!DOCTYPE html>
<html>
<body>
<h1>Contact us</h1>
<p> Call us on 086 1234 778</p>
<p> Drop into us here to collect your orders at La Petiza, 12 Temple Bar, Dublin 1, Ireland.</p>



</body>
</html>

</div>